

<button>
  <%= link_to 'Signout', signout_path  %>
</button>

<%= current_user.spotify_id %>

<h3>You</h3>

<hr>

<h3>Compare</h3>

<% @users.each do |user| %>
<div>
  <%= link_to user.name, user_path(user) %>
</div>
<% end %>
