<div class="hello">
  <div class="pull-right">
    <button>
      <%= link_to 'Signout', signout_path  %>
    </button>
  </div>

    <div class="welcome-user">
      <h3>You</h3>
        <div>
          <h2><%= current_user.spotify_id %></h2>
        </div>
    </div>

    <div class="welcome-compare">
      <h3>Compare</h3>
        <% @users.each do |user| %>
          <div>
            <h2><%= link_to user.name, user_path(user) %></h2>
          </div>
        <% end %>
    </div>
</div>
