<div class="hello">
  <div class="pull-right">
    <button class="signout">
      <%= link_to 'Signout', signout_path  %>
    </button>
  </div>

    <div class="welcome-user">
        <div>
          <h2 class="welcome-title">Spotify User: <%= current_user.spotify_id %></h2>
        </div>
    </div>


    <div class="welcome-compare">
      <h1>Check your spotibliity against these users</h1>
        <% @users.each do |user| %>
          <div>
            <h2>+ <%= link_to user.name, user_path(user) %></h2>
          </div>
        <% end %>
    </div>
</div>
