<div class="welcome">
  <div class="welcome-header">
    <h1>Spotibility</h1>
  </div>
    <div class="login-button">
      <%= link_to image_tag( "log_in-mobile.png", width: 300, height: 50), '/auth/spotify' %>
    </div>
</div>
