

  <h2>Spotibility</h2>

  <%= link_to image_tag( "log_in-mobile.png", width: 300, height: 50), '/auth/spotify' %>
  <br><br>
  <iframe src="https://embed.spotify.com/?uri=http://open.spotify.com/user/stephenprill/playlist/0XSXEv7BpxQCS6UC02qciM" width="300" height="80" frameborder="0" allowtransparency="true"></iframe>

<div class="container">
  <div class="one">
      <hr>

      <h1>User 1</h1>
      <div class="user1">
        <%= @user1.playlists.length %>
  </div>
</div>
