html {
  width: 100%;
  font-family: 'Montserrat', sans-serif;
}

body {
  position: relative;
}


.welcome-header {
  font-size: 85px;
  text-align: center;
  text-shadow: -1px 0 gray, 0 1px gray, 1px 0 gray, 0 -1px white;
}


.login-button {
  text-align: center;
}
.container{
  background: red;
}

.welcome {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-image: url("oldcassette.jpg");
  background-position: 49% 10%;

}
