html {
  width: 100%;
}

.container{

  background: red;
}

.user1 {
  background: green;
}

.user2 {
  background: gray;
}

.one{
/*   margin: 0 -4px 0 0px;
     width: 47%; */
/*   height: 500px; */
  background: yellow;
  display: inline;
}

.two{
/*   margin: 0 -4px 0 0px; */
/*   width: 47%; */
/*   height: 500px; */
  background: blue;
  display: inline-block;
}
