*, *:before, *:after {
  box-sizing: border-box;
}

html {
  /* width: 100%; */
  font-family: 'Montserrat', sans-serif;
}

body {
  /* position: relative; */
}

h4 {
  margin: 0;
}


.welcome-header {
  font-size: 85px;
  text-align: center;
  text-shadow: -1px 0 gray, 0 1px gray, 1px 0 gray, 0 -1px white;
}


.login-button {
  text-align: center;
}
.container{
  background: red;
}

.welcome {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-image: url("oldcassette.jpg");
  background-position: 49% 10%;
}

.columns:before,
.columns:after {
 content:"";
 display:table;
}
.columns:after {
 clear:both;
}
.columns {
 zoom:1;
 overflow: hidden;
}

.column {
 float: left;
 white-space: nowrap;
}

.two.columns .column, .column-two {
 width: 50%;
}

.columns.three .column, .column-three {
 width: 33.33333%;
}

.four.columns .column, .column.column-four {
 width: 25%;
}

.match-title {
  font-family: 'Raleway', sans-serif;
  text-align: center;
  background: black;
  color: white;
  padding: 0px;
  margin: 0px;
  &:hover {
    color: #949494;
  }
}

.box-1 {
  font-family: 'Raleway', sans-serif;
  background: #648F00;
  padding: 20px;
  overflow: auto;
  border: 1px solid black;
}

.box-2 {
  font-family: 'Raleway', sans-serif;
  background: #949494;
  padding: 20px;
  border: 1px solid black;
  border-left: none;
}

.current-user-list {
  background: #648F00;
}

.compared-user-list {
  background: #949494;
}

a {
  color: #949494;
  text-decoration: none;
}

.user-header {
  border-bottom :2px solid black;
}
